<div class="form-row">
  <div class="form-item">
    <label for="title">Title</label>
    <input type="text" name="title" id="title" placeholder="Book title" value="<%=book.title %>">
  </div>
  <div class="form-item">
    <label for="name">Author</label>
    <select name="author">
      <% authors.forEach(author => { %>
        <% if (author.id === book.author) { %>
          <option selected label="<%= author.name %>" value="<%= author.id %>">
        <% } else { %>
          <option label="<%= author.name %>" value="<%= author.id %>">
        <% } %>
      <% }) %>
    </select>
  </div>
</div>

<div class="form-row">
  <div class="form-item">
    <label for="publishDate">Publish Date</label>
    <input type="date" name="publishDate" id="publishDate" placeholder="Publish Date" value="<%=book.publishDate == null ? '' : book.publishDate.toISOString().split('T')[0] %>">
  </div>
  <div class="form-item">
    <label for="pageCount">Page Count</label>
    <input type="number" name="pageCount" id="pageCount" placeholder="Page Count" min="1" value="<%=book.pageCount %>">
  </div>
</div>

<div class="form-row">
  <div class="form-item form-item-no-grow">
    <label for="cover">Cover</label>
    <input type="file" name="cover" class="filepond" id="cover" placeholder="Cover" >
  </div>
  <div class="form-item form-item-no-grow">
    <label for="description">Description</label>
    <textArea name="description" id="description" placeholder="Description"><%=book.description %></textArea>
  </div>
</div>








